<img src="~/img/banner.png" alt="Pivotal Cloud Foundry" class="img-responsive" />

<div class="text-center" style="position: absolute; left: 600px; top: 400px;">
    <h5>Learn how to <a href="https://docs.run.pivotal.io/devguide/deploy-apps/deploy-app.html" target="_blank">push apps</a> effortlessly to the cloud.</h5>
</div>

<h2 class="display-4" style="text-align: center; margin-top: 125px;">More Demos</h2>

<div class="arrow" style="position: absolute; top: 650px;"></div>

@*<div class="downArrow bounce">
            <img width="40" height="40" alt="" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDMyIDMyIiBoZWlnaHQ9IjMycHgiIGlkPSLQodC70L7QuV8xIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxwYXRoIGQ9Ik0yNC4yODUsMTEuMjg0TDE2LDE5LjU3MWwtOC4yODUtOC4yODhjLTAuMzk1LTAuMzk1LTEuMDM0LTAuMzk1LTEuNDI5LDAgIGMtMC4zOTQsMC4zOTUtMC4zOTQsMS4wMzUsMCwxLjQzbDguOTk5LDkuMDAybDAsMGwwLDBjMC4zOTQsMC4zOTUsMS4wMzQsMC4zOTUsMS40MjgsMGw4Ljk5OS05LjAwMiAgYzAuMzk0LTAuMzk1LDAuMzk0LTEuMDM2LDAtMS40MzFDMjUuMzE5LDEwLjg4OSwyNC42NzksMTAuODg5LDI0LjI4NSwxMS4yODR6IiBmaWxsPSIjMTIxMzEzIiBpZD0iRXhwYW5kX01vcmUiLz48Zy8+PGcvPjxnLz48Zy8+PGcvPjxnLz48L3N2Zz4=" />
    </div>*@

<div class="card-deck" style="margin-top: 150px;">
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">It's a broader card with text below as a natural lead-in to extra content. This content is a little longer.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">It's a broader card with text below as a natural lead-in to extra content. This content is a little longer.This card has even longer content than the first to show that equal height action.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>

@*<div class="row" style="margin-top: 150px;">
    <div class="card col-4" style="width: 18rem;">
        <img src="~/img/steeltoe-logo.png" alt="Steeltoe">
        <div class="card-body">
            <h5 class="card-title">Steeltoe</h5>
            <p class="card-text">Demonstrates 12-factor principles for designing cloud-native applications.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><img src="~/img/dotnet-core-logo.png" /><span style="margin-left: 10px;">.NET Core 2.2</span></li>
            <li class="list-group-item"><img src="~/img/cloud-native.png" /><span style="margin-left: 10px;">Patterns & Practices</span></li>
            <li class="list-group-item"><img src="~/img/microservices.jpg" /><span style="margin-left: 10px;">Microservices</span></li>
        </ul>
        <div class="card-body">
            <a href="https://github.com/nyc-pivot/pcf-demos-steeltoe" class="card-link" target="_blank">Source</a>
            <a href="https://github.com/nyc-pivot/pcf-demos-steeltoe/lib" class="card-link" target="_blank">Download</a>
        </div>
    </div>
    <div class="card col-4" style="width: 18rem;">
        <img src="~/img/pcf-sso-logo.jpg" alt="PCF SSO">
        <div class="card-body">
            <h5 class="card-title">PCF SSO</h5>
            <p class="card-text">Demonstrates centralized management of single sign-on for your apps.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><img src="~/img/dotnet-core-logo.png" /><span style="margin-left: 10px;">.NET Core 2.2</span></li>
            <li class="list-group-item"><img src="~/img/cloud-foundry-logo-small-1.png" /><span style="margin-left: 10px;">PCF UAA</span></li>
            <li class="list-group-item"><img src="~/img/auth0-logo.png" /><span style="margin-left: 10px;">Auth0</span></li>
        </ul>
        <div class="card-body">
            <a href="https://github.com/nyc-pivot/pcf-demos-sso" class="card-link" target="_blank">Source</a>
            <a href="https://github.com/nyc-pivot/pcf-demos-sso/lib" class="card-link" target="_blank">Download</a>
        </div>
    </div>
    <div class="card col-4" style="width: 18rem;">
            <img class="card-img-top" src="~/img/pivotal/mongodb-logo.png" alt="MongoDB">
            <div class="card-body">
                <h5 class="card-title">MongoDB</h5>
                <p class="card-text">An ASP.NET Framework application that uses a MongoDB service from the Pivotal Marketplace.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">.NET Framework 4.7</li>
                <li class="list-group-item">MongoDB</li>
                <li class="list-group-item">Steeltoe</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
</div>*@